<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgurkAPI</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="menuContainer">
        <div class="menuBox">
            <h1>Welcome to AgurkAPI</h1>
            <a href="login">
                <p>LOGIN</p>
            </a>
            <a href="register">
                <p>REGISTER</p>
            </a>
        </div>
    </div>
</body>
</html>